<div class="trending_section">
  <section>
    <div class="section_head">
      <h1 class="trending_title">Trending Recipes.</h1>
      <a routerLink="/trending" class="view_all_link">View All</a>
    </div>
    <div class="section_content">
      <!-- scroll arrows  -->
      <!-- scroll left arrow -->
      <div class="left_arrow">
        <fa-icon class="left_arrow_icon" [icon]="faArrowLeft" (click)="scroll_left()"></fa-icon>
      </div>
      <div #items class="trending_items row"  >
        <!-- items -->
        <app-trending-item [food]="food" *ngFor="let food of mostViewedFood"></app-trending-item>
      </div>
      <!-- scroll right arrow -->
      <div class="right_arrow">
        <fa-icon class="right_arrow_icon" [icon]="faArrowRight" (click)="scroll_right()"></fa-icon>
      </div>
    </div>
  </section>
</div>
