.landing {
  height: calc(100vh - 74px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.landing .left {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 60px;
}
.landing .left .landing_title,
.landing .left .landing_title .delivery_word {
  font-family: "Caveat", cursive;
  font-size: 4rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.landing .left .landing_title .delivery_word {
  color: var(--first-color);
}
.landing .left .description {
  color: var(--muted-text);
}
.landing .left .btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.landing .left .btns .start_btn {
  background-color: var(--first-color);
  height: 50px;
  padding: 10px 20px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: bold;
  color: var(--second-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.landing .left .btns .start_btn:hover {
  background-color: var(--home-bg);
  color: var(--first-color);
}
.landing .left .btns .guide_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.landing .left .btns .guide_btn .guide_icon {
  cursor: pointer;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid var(--first-color);
  border-bottom: 5px solid var(--first-color);
  background-color: var(--second-color);
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.landing .left .btns .guide_btn .guide_icon:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.right img {
  object-fit: contain;
  width: 100%;
}
/* mobile */
@media (max-width: 1200px) {
  .landing .left {
    max-width: 350px;
  }
  .landing .left .landing_title,
  .landing .left .landing_title .delivery_word {
    font-size: 2.5rem;
  }
  .landing .left .description {
    font-size: small;
  }
  .landing .left .btns .start_btn {
    padding: 10px;
    font-weight: normal;
  }
  .landing .left .btns .guide_btn p {
    font-size: small;
  }
}
@media (max-width: 768px) {
  .landing {
    flex-direction: column;
  }
  .landing .left {
    width: 100%;
  }
  .landing .left .btns .guide_btn .guide_icon {
    width: 40px;
    height: 40px;
  }
  .landing .left .btns .start_btn {
    padding: 5px;
  }
}
