
  <div class="landing">
    <div class="left">
      <h1 class="landing_title">
        Best & Fastes <span class="delivery_word">Delivery</span> in Your Place
      </h1>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis est
        sapiente doloremque nisi modi voluptate molestias.
      </p>
      <div class="btns">
        <button class="start_btn" routerLink="/foods">Get Started</button>
        <!-- guide -->
        <div class="guide_btn">
            <span class="guide_icon"
              ><fa-icon [icon]="faPlay" class="play_icon"></fa-icon
            ></span>
          <p>How To Order!</p>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="/assets/landingImg.png" alt="landing_img" />
    </div>
  </div>

