/* mobile */
.mobile_nav {
  position: relative;
  z-index: 999999;
}
/* menu */
.menu_list {
  display: none;
}
.menu_list:hover {
  color: var(--first-color);
}
.mobile_menu_list {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 100%;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--second-color);
  padding: 20px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.mobile_menu_list li {
  position: relative;
}
.mobile_menu_list li span:hover {
  color: var(--first-color);
}
.mobile_menu_list li span {
  cursor: pointer;
  padding: 10px;
}
.mobile_menu_list .menu-container .menu {
  position: absolute;
  z-index: 9999;
  background-color: var(--second-color);
  padding: 20px;
  display: none;
  top: 150%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.mobile_menu_list .menu-container:hover .menu {
  display: block;
}
.mobile_menu_list .menu-container .menu .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.mobile_menu_list .menu-container .menu .links span {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* cover */
.cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
  /* menu */
  .menu_list {
    display: block;
    cursor: pointer;
  }
  .mobile_menu_list {
    display: none;
  }
}
