<footer>
  <div class="footer_content">
    <ul>
      <li>
        <!-- app icon  -->
        <a routerLink="/" class="logo">
          <img src="/assets/logo.png" alt="logo" />
        </a>
      </li>
      <li>Food App.</li>
      <li class="scoial_media_links">
        <img src="/assets/socialMedia/facebook.png" alt="media_img" />
        <img src="/assets/socialMedia/twitter.png" alt="media_img" />
        <img src="/assets/socialMedia/whatsapp.png" alt="media_img" />
      </li>
    </ul>
    <!-- quick links -->
    <ul>
      <li class="title">Food App Links</li>
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
      <li>Return Policy</li>
    </ul>
    <!--  links -->
    <ul>
      <li class="title">Resource</li>
      <li>Foods</li>
      <li>Cart</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div class="divider"></div>
</footer>
