<div class="container">
  <!-- if not found data or any item in cart -->
  <app-not-found-data
    [visiable]="!food"
    linkText="Go To Home Page"
  ></app-not-found-data>
  <!-- food data -->
  <div *ngIf="food" class="food">
    <div class="food_img">
      <img src="{{ image_src + food.imageUrl }}" alt="{{ food.name }}" />
    </div>
    <div class="details">
      <div class="food_header">
        <h4>{{ food.name }}</h4>
        <span class="{{ food.favorite ? 'favorite' : 'not_favorite' }}">
          <fa-icon [icon]="faHeart"></fa-icon>
        </span>
      </div>
      <div class="stars">
        <star-rating
          [value]="5"
          [totalstars]="5"
          checkedcolor="red"
          uncheckedcolor="black"
          size="24px"
          [readonly]="false"
        >
        </star-rating>
      </div>
      <div class="origins">
        <div *ngFor="let origin of food.origins">
          <span>{{ origin }}</span>
        </div>
      </div>
      <div class="tags">
        <a *ngFor="let tag of food.tags" routerLink="/tag/{{ tag }}">
          <span>{{ tag }}</span>
        </a>
      </div>
      <div class="cook_time">
        Time to cook about <span>{{ food.cookTime }} </span>minute
      </div>
      <div class="price">
        price <span>{{ food.price | currency }}</span>
      </div>
      <button class="add_to_cart_btn" (click)="addToCart()">Add To Cart</button>
    </div>
  </div>
</div>
