<div class="trending_item_box">
  <div class="item_img">
    <img src="{{ image_src + food.imageUrl }}" alt="trending_img" />
  </div>
  <span class="price">{{ food.price | currency }}</span>
  <h4>{{ food.name }}</h4>
  <p>Resturant Recomndation</p>
  <div class="rating">
    <p>{{ food.stars }}</p>
    <star-rating
      [value]="food.stars"
      [totalstars]="5"
      checkedcolor="gold"
      uncheckedcolor="black"
      size="24px"
      [readonly]="false"
    >
    </star-rating>
  </div>
  <button class="trending_item_btn" routerLink="/food/{{ food.id }}">
    Order Now
  </button>
</div>
